{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}

    <link href="{{asset('bundles/app/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css')}}" rel="stylesheet">

{% endblock %}
{% block content %}

    <h3 class="center-block">Actualizar servicio  </h3>
    <div class="panel  panel-primary"></div>

        <form class="m-t" id="form-speciality" role="form" action="{{ path('manage_service_edit',{id:idService}) }}" method="POST">

            <div class="row">
                {% if exception is defined %}
                    <div class="form-group has-error">{{ exception  }} </div>
                {% endif %}
                <div class="col-lg-6">


                        {% if errors and errors.nombre is defined %}
                        <div class="form-group has-error">
                            <span class="help-block">
                                        <strong>{{ errors['nombre'] }}</strong>
                                    </span>
                            {% else %}
                            <div class="form-group">
                                {% endif %}
                                <label>Nombre</label>
                                <input  id="nombre" type="text" {% if data and data.nombre %}
                                    value="{{ data.nombre }}"
                                {% endif %} class="form-control" name="nombre" placeholder="Nombre" required="">
                            </div>
                            {% if errors and errors.descripcion is defined%}
                            <div class="form-group has-error">
                            <span class="help-block">
                                        <strong>{{ errors['descripcion'] }}</strong>
                                    </span>
                                {% else %}
                                <div class="form-group">
                                    {% endif %}
                                    <label>Descripción</label>
                                    <input type="text" {% if data and data.descripcion %}
                                        value="{{ data.descripcion }}"
                                    {% endif %} class="form-control" name="descripcion" placeholder="Descripción"
                                           required="">
                                </div>


                            {% if errors and errors.precio is defined %}
                            <div class="form-group has-error">
                            <span class="help-block">
                                        <strong>{{ errors['precio'] }}</strong>
                                    </span>
                                {% else %}
                                <div class="form-group">
                                    {% endif %}
                                    <label>Precio</label>
                                    <input type="text" {% if data and data.precio %}
                                        value="{{ data.precio }}"
                                    {% endif %} class="form-control touchspin3" name="precio" placeholder="Precio del servicio" required="">
                                </div>

                    <div class="form-group">


                        <div class="col-lg-offset-6">


                            <button type="submit" class=" btn btn-primary">Aceptar</button>
                            <a href="{{ path('manage_service_list') }}" class=" btn btn-warning">Volver al listado</a>
                        </div>
                    </div>
                                </div>
                                </div>





    </form>



{% endblock %}
    
     {% block javascript %}

    {{ parent() }}

    <script src="{{ asset('bundles/app/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>

    <script src="{{asset('bundles/app/js/plugins/validation/jquery.validationEngine.js')}}"></script>


    <script src="{{asset('bundles/app/js/plugins/validation/jquery.validate.min.js')}}"></script>

    <script src="{{asset('bundles/app/js/plugins/validation/additionalValidator.js')}}"></script>
    <script src="{{ asset('bundles/app/js/custom/validationService.js') }}"></script>
 <script>

        id_service= {{idService}};
        $(function () { formServiceValidation(); });
    </script>
    <script>
        $(document).ready(function () {



            $(".touchspin3").TouchSpin({
                verticalbuttons: true,
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white',
                step: 0.01,
                decimals: 2,
                min:1,
                max:100000
            });
        })</script>
{% endblock javascript %}