{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/plugins/chosen/bootstrap-chosen.css') }}" rel="stylesheet">

{% endblock %}
{% block content %}

    <h3 class="center-block">Actualizar usuario </h3>
    <div class="panel  panel-primary"></div>
    {% set idUser= id %}
    <form class="m-t" role="form" action="{{ path('manage_user_edit',{id:idUser}) }}" id="form-user" method="POST">

        <div class="row">
            {% if exception is defined %}
                <div class="form-group has-error">{{ exception }} </div>
            {% endif %}
            <div class="col-lg-12">
                <div class="col-lg-4">

                    {% if errors and errors.nombre is defined %}
                    <div class="form-group has-error">
                            <span class="help-block">
                                        <strong>{{ errors['nombre'] }}</strong>
                                    </span>
                        {% else %}
                        <div class="form-group">
                            {% endif %}
                            <label>Nombre</label>
                            <input type="text" {% if data and data.nombre %}
                                value="{{ data.nombre }}"
                            {% endif %} class="form-control" name="nombre" placeholder="Nombre" required="">
                        </div>
                        {% if errors and errors.apellido is defined %}
                        <div class="form-group has-error">
                            <span class="help-block">
                                        <strong>{{ errors['apellido'] }}</strong>
                                    </span>
                            {% else %}
                            <div class="form-group">
                                {% endif %}
                                <label>Apellidos</label>
                                <input type="text" {% if data and data.apellido %}
                                    value="{{ data.apellido }}"
                                {% endif %} class="form-control" name="apellido" placeholder="Apellidos"
                                       required="">
                            </div>
                            {% if errors and errors.correo is defined %}
                            <div class="form-group has-error">
                            <span class="help-block">
                                        <strong>{{ errors['correo'] }}</strong>
                                    </span>
                                {% else %}
                                <div class="form-group">
                                    {% endif %}
                                    <label>Correo</label>
                                    <input type="email" {% if data and data.correo %}
                                        value="{{ data.correo }}"
                                    {% endif %} class="form-control" name="correo" placeholder="Correo" required="">
                                </div>

                            </div>


                            <div class="col-lg-4">
                                {% if errors and errors.cedula is defined %}
                                <div class="form-group has-error">
                            <span class="help-block">
                                        <strong>{{ errors['cedula'] }}</strong>
                                    </span>
                                    {% else %}
                                    <div class="form-group">
                                        {% endif %}
                                        <label>Cédula</label>
                                        <input type="text" class="form-control"
                                                {% if data and data.cedula %}
                                                    value="{{ data.cedula }}"
                                                {% endif %}
                                               name="cedula" data-mask="9999999999" placeholder="Cédula">
                                    </div>


                                    {% if errors and errors.telefono is defined %}
                                    <div class="form-group has-error">
                            <span class="help-block">
                                        <strong>{{ errors['telefono'] }}</strong>
                                    </span>
                                        {% else %}
                                        <div class="form-group">
                                            {% endif %}
                                            <label>Teléfono</label>
                                            <input type="text" {% if data and data.telefono %}
                                                value="{{ data.telefono }}"
                                            {% endif %} class="form-control" name="telefono"
                                                   data-mask="99-9999-9999" placeholder="Teléfono"
                                                   required="">
                                        </div>


                                        {% if errors and errors.telefonoConvencional is defined %}
                                        <div class="form-group has-error">
                            <span class="help-block">
                                        <strong>{{ errors['telefonoConvencional'] }}</strong>
                                    </span>
                                            {% else %}
                                            <div class="form-group">
                                                {% endif %}
                                                <label>Teléfono convencional</label>
                                                <input type="text" {% if data and data.telefonoConvencional%}
                                                    value="{{ data.telefonoConvencional}}"
                                                {% endif %} class="form-control" name="telefonoConvencional"
                                                       data-mask="99-9999999" placeholder="Teléfono convencional"
                                                >
                                            </div>


                                    </div>


                                    <div class="col-lg-4">


                                        {% if errors and errors.nombreUsuario is defined %}
                                        <div class="form-group has-error">
                            <span class="help-block">
                                        <strong>{{ errors['nombreUsuario'] }}</strong>
                                    </span>
                                            {% else %}
                                            <div class="form-group">
                                                {% endif %}
                                                <label>Nombre de usuario</label>
                                                <input type="text" {% if data and data.nombreUsuario is defined %}
                                                    value="{{ data.nombreUsuario }}"
                                                {% endif %} id="nombreUsuario" class="form-control" name="nombreUsuario"
                                                       placeholder="Nombre de usuario"
                                                       required="">
                                            </div>
                                            {% if errors and errors.password is defined %}
                                            <div class="form-group has-error">
                            <span class="help-block">
                                        <strong>{{ errors['password'] }}</strong>
                                    </span>
                                                {% else %}
                                                <div class="form-group">
                                                    {% endif %}
                                                    <label>Contraseña</label>
                                                    <input type="password" {% if data and data.password %}
                                                        value=""
                                                    {% endif %} class="form-control" name="password"
                                                           placeholder="Contraseña"
                                                           required="">
                                                </div>

                                                {% if errors and errors.direccion is defined %}
                                                <div class="form-group has-error">
                            <span class="help-block">
                                        <strong>{{ errors['direccion'] }}</strong>
                                    </span>
                                                    {% else %}
                                                    <div class="form-group">
                                                        {% endif %}
                                                        <label>Dirección</label>
                                                        <input type="text" {% if data and data.direccion %}
                                                            value="{{ data.direccion }}"
                                                        {% endif %} class="form-control" name="direccion"
                                                               placeholder="Dirección"
                                                        >
                                                    </div>
                                                    {% if errors and errors.rol is defined %}
                                                    <div class="form-group has-error">
                            <span class="help-block">
                                        <strong>{{ errors['rol'] }}</strong>
                                    </span>
                                                        {% else %}
                                                        <div class="form-group">
                                                            {% endif %}
                                                            <select  data-placeholder="Seleccione un rol" class="chosen-select"
                                                                     style="width:350px;" tabindex="4" name="rol">
                                                                <option value="-1" >Seleccione un rol</option>
                                                                {% for rol in roles %}
                                                                    <option {% if data.rol.id ==rol.id %} selected="selected" {% endif %} value="{{ rol.id }}">{{ rol.alias }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>



                                                    </div>

                                                    <div class="form-group">


                                                        <div class="col-lg-offset-9">


                                                            <button type="submit" class=" btn btn-primary">Aceptar
                                                            </button>
                                                            <a href="{{ path('manage_user_list') }}"
                                                               class=" btn btn-warning">Volver al listado</a>
                                                        </div>
                                                    </div>


    </form>
    </div>


    <!-- Mainly scripts -->
    <script src="{{ asset('bundles/app/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/chosen/chosen.jquery.js') }}"></script>

    <script src="{{ asset('bundles/app/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js') }}"></script>


    <script src="{{asset('bundles/app/js/plugins/validation/jquery.validationEngine.js')}}"></script>


    <script src="{{ asset('bundles/app/js/plugins/validation/jquery.validate.min.js') }}"></script>

    <script src="{{ asset('bundles/app/js/plugins/validation/additionalValidator.js') }}"></script>
    <script src="{{ asset('bundles/app/js/custom/validationUser.js') }}"></script>
    <script>
        id_user={{idUser  }};
        $('.tagsinput').tagsinput({
            tagClass: 'label label-primary'
        });
        $('.chosen-select').chosen({width: "100%"});
        $.validator.setDefaults({ignore: ":hidden:not(select)"})
        $(function () { formUserValidation(1,false); });
    </script>

    {{ parent() }}
{% endblock %}