{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/plugins/chosen/bootstrap-chosen.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/app/css/plugins/datapicker/datepicker3.css') }}" rel="stylesheet">
 <style>
        .dataTables_wrapper{margin-top: 30px;}
    </style>


{% endblock %}
{% block content %}

    <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                     <h5>Reporte listado de consultas por estado en un rango de tiempo</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="ibox-content inspinia-timeline" style="display: block;">

                                    <div class="timeline-item">

    <form class="m-t" role="form" action="#" method="POST">

        <div class="row">


            <div class="col-lg-4">
                <div class="form-group">

                    <select data-placeholder="Seleccione un estado" class="chosen-select"
                            style="width:350px;" tabindex="4" id="state">
                        <option value="-1" selected>Seleccione un estado</option>
                        {% for state in states %}
                            <option value="{{ state.id }}">{{ state.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group" id="data_5">

                    <div class="input-daterange input-group" id="datepicker">
                        <input readonly="readonly"  id="start" type="text" class="input-sm form-control" name="start" value=""/>
                        <span class="input-group-addon">a</span>
                        <input  readonly="readonly"  id="end" type="text" class="input-sm form-control" name="end" value=""/>
                    </div>
                </div>
            </div>

            <div class="col-lg-2">
                <button type="button" onclick="executeFilter()" class=" btn btn-primary"> <i class="fa fa-filter"></i>&nbsp;Filtrar</button>
            </div>
        </div>

    </form>

                                </div>
                            </div>



    <div id="content-table" class="table-responsive">

        {# incluir el listado #}
        {{ render( controller( 'AppBundle:AdminReport:filterQueryCancelByPatientReport',{'patient':-1})) }}
    </div>



{% endblock %}
{% block javascript %}

    {{ parent() }}
    <script src="{{ asset('bundles/app/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/datapicker/bootstrap-datepicker.js') }}"></script>

    <script src="{{ asset('bundles/app/js/plugins/chosen/chosen.jquery.js') }}"></script>

    <script>
        var executeFilter = function () {

            var valState = $('#state').val();
            if (valState == -1 || valState == "" || valState == undefined) {
                valState = -1;
            }
            var valStart = $('#start').val();
            if (valStart == "" || valStart == undefined) {
                valStart = -1;
            }
            var valEnd = $('#end').val();
            if (valEnd == "" || valEnd == undefined) {
                valEnd = -1;
            }

            $('#content-table').html('');
            waitMeShow();
            appendContent('/manage/report/state/reserve/' + valState + '/'+valStart+'/'+valEnd, 'content-table', {}, function () {
                waitMeHide();
            });

        }
        $(document).ready(function () {
            $('.chosen-select').chosen({width: "100%"});

            $('#data_5 .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format:'mm-dd-yyyy'
            });
        })


    </script>

{% endblock javascript %}