{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet">



{% endblock %}
{% block content %}
    <div>


        <h3>Listado de servicios</h3>
        <a href="{{ path('manage_service_add') }}" title="Adicionar servicio"
           class="btn btn-primary btn-circle pull-right" type="button"><i class="fa fa-plus"></i>
        </a>

    </div>
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
        <tr>
            <th>Nombre</th>
             <th>Descripción</th>
            <th>Precio</th>


            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for esp in services %}
            <tr>

                <td>{{ esp.nombre }}</td>
                 <td>{{ esp.descripcion }}</td>
                <td>${{ esp.precio }}</td>


                <td>

                    <a title="Actualizar servicio" class="btn btn-info btn-circle"
                       href="{{ path('manage_service_edit',{id:esp.id}) }}" type="button"><i class="fa fa-check"></i>
                    </a>
                    <a title="Eliminar servicio"
                       data-record-id="{{ path('manage_service_remove',{id:esp.id}) }}" title="Eliminar servicio"
                       class="btn btn-danger btn-circle demo3" title="eliminar" href="#"><i class="fa fa-minus"></i>
                    </a>

                </td>


            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ parent() }}

{% endblock %}

         {% block javascript %}

    {{ parent() }}

    <script src="{{ asset('bundles/app/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>
{% include 'AppBundle:Default:show_datatable_message.js.twig' %}
    <script src="{{ asset('bundles/app/js/plugins/sweetalert/sweetalert.min.js') }}"></script>
     {% include 'AppBundle:Default:remove_confirm.js.twig' %}

    <script src="{{asset('bundles/app/js/custom/manageUsers.js')}}"></script>
{% endblock javascript %}