{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/plugins/chosen/bootstrap-chosen.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/plugins/datapicker/datepicker3.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/plugins/steps/jquery.steps.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/plugins/iCheck/custom.css') }}" rel="stylesheet">

{% endblock %}
{% block content %}
    <h3>Registrar historia clínica</h3>
    <div class="panel  panel-primary"></div>
    <form id="form" action="#" class="wizard-big" method="post" action="{{ path('manage_query_result_doctor_add',{id:query.id}) }}">
        <h1>Datos del paciente</h1>
        <input  name="areas" id="areas" type="hidden" value="">
        <input  name="tto" id="ttosend" type="hidden" value="0">
        <input  name="cliente" type="hidden" value="{{ query.usuarioRegistro.id }}">
        <input  name="consulta" type="hidden" value="{{ query.id }}">
        <fieldset>
            <h2>Datos del paciente</h2>
            <div class="panel  panel-primary"></div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>NOMBRE DEL PACIENTE:</label>
                        </div>
                        <input disabled="disabled" type="text" class="form-control required"
                               value="{{ query.usuarioRegistro.getCompleteName() }}">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-horizontal">


                    <div class="col-lg-5">
                        <div class="form-group">

                            <label class="control-label col-lg-2" for="ci">CI:</label>
                            <div class="col-lg-10">
                                <input value="{{ query.usuarioRegistro.cedula }}" aria-describedby="ci"
                                       disabled="disabled" type="text" class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">

                            <label class="control-label col-lg-4" for="fecha">FECHA:</label>
                            <div class="col-lg-8">
                                <input disabled="disabled"  aria-describedby="fecha"
                                       type="text" class="form-control" value="{{ "now"|date("m/d/Y") }}">

                            </div>
                        </div>
                    </div>



                </div>
                </div>






            <div class="col-lg-4">
                <div class="text-center">
                    <div style="margin-top: 20px">
                        <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                    </div>
                </div>
            </div>


        </fieldset>
        <h1>Datos de la consulta</h1>
        <fieldset>
            <h2>Datos de la consulta</h2>
            <div class="panel  panel-primary"></div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>MOTIVO:</label>
                        </div>
                        <textarea name="motivo" rows="5" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-horizontal">


                    <div class="col-lg-5">
                        <div class="form-group">

                            <label class="control-label col-lg-10" for="ci">HA TENIDO TTO ORTODONCIA:</label>
                            <div class="col-lg-2">
                                <div class="i-checks"><label> <input type="checkbox"  id="tto" value="0"> <i></i>  </label></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">

                            <label class="control-label col-lg-4" for="telefono">TIEMPO:</label>
                            <div class="col-lg-8">
                                <input name="tiempo" id="tiempo"   name="tiempo" disabled="disabled" value="0" aria-describedby="telefono"
                                        type="text" class="form-control">

                            </div>
                        </div>
                    </div>



                </div>
            </div>



            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>A.P.P:</label>
                        </div>
                        <textarea  name="appp" rows="5" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>A.P.F:</label>
                        </div>
                        <textarea  name="apf"  rows="5" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>REACCION A MEDICAMENTOS:</label>
                        </div>
                        <textarea  name="reaccionMedicamento" rows="5" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>
        </fieldset>







        <h1>Antecedentes</h1>
        <fieldset>
            <h2>Antecedentes</h2>
            <div class="panel  panel-primary"></div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-3">
                            <label>EXPERIENCIA ANTERIOR DE ANESTESIA DENTAL Y EXTRACCIONES DENTARIAS:</label>
                        </div>
                        <textarea  name="experienciaAnestesia" rows="5" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>






            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>ANTECEDENTES HEMORRAGICOS:</label>
                        </div>
                        <textarea  name="antecedentesHemorragicos" rows="5" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>CEPILLADO DENTARIO (FORMA,TIEMPO Y FRECUENCIA):</label>
                        </div>
                        <textarea  name="cepilladoDentario" rows="5" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>HABITOS NOCIVOS Y HABITOS DEFORMANTES:</label>
                        </div>
                        <textarea   name="habitosNocivos" rows="5" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>
        </fieldset>








        <h1>Diagnóstico y tratamiento</h1>
        <fieldset>
            <h2>Diagnóstico y tratamiento</h2>
            <div class="panel  panel-primary"></div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>DIAGNOSTICOS:</label>
                        </div>
                        <textarea   name="diagnostico" rows="5" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>






            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>PLANIFICACION DE TRATAMIENTOS:</label>
                        </div>
                        <textarea  name="planificacionTratamiento" rows="5" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>TRATAMIENTOS REALIZADOS:</label>
                        </div>
                        <textarea  name="tratamientoRealizado"  rows="5" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>EVOLUCION:</label>
                        </div>
                        <textarea  name="evolucion" rows="5" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>
        </fieldset>






        <h1>Examen físico</h1>
        <fieldset>
            <h2>Examen físico</h2>
            <div class="panel  panel-primary"></div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>EXAMEN FISICO GENERAL,ATM Y CADENAS GANGLIONARES:</label>
                        </div>
                        <textarea name="examenFisico"  rows="5" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>

        </fieldset>

        <h1>Examen facial </h1>
        <fieldset>


            <h2>Examen facial </h2>

            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>EXAMEN FACIAL:</label>
                        </div>
                        <textarea   name="examenFacial" rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>OVALO FACIAL:</label>
                        </div>
                        <textarea  name="ovaloFacial"  rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>PERFIL FACIAL:</label>
                        </div>
                        <textarea  name="perfilFacial"  rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>
        </fieldset>


        <h1>Examen bucal I</h1>
        <fieldset>


            <h2>Examen bucal</h2>
            <div class="panel  panel-primary"></div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>EXAMEN BUCAL:</label>
                        </div>
                        <textarea name="examenBucal"  rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>LABIOS:</label>
                        </div>
                        <textarea name="labios" rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>MUCOSA DEL CARRILLO:</label>
                        </div>
                        <textarea  name="mucosaCarillo" rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>ENCIAS:</label>
                        </div>
                        <textarea  name="encias" rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>
            </fieldset>
            <h1>Examen bucal II</h1>
            <fieldset>


                <h2>Examen bucal II</h2>
                <div class="panel  panel-primary"></div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>PALADAR DURO Y BLANDO:</label>
                        </div>
                        <textarea   name="paladarDuro"  rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>OROFARINGE:</label>
                        </div>
                        <textarea name="orofaringe"   rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>LENGUA:</label>
                        </div>
                        <textarea  name="lengua"   rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>PISO DE LA LENGUA:</label>
                        </div>
                        <textarea name="pisoLengua"  rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>
        </fieldset>




        <h1>Glándulas salibales</h1>
        <fieldset>


            <h2>Glándulas salibales</h2>
            <div class="panel  panel-primary"></div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>GLANDULAS SALIBALES:</label>
                        </div>
                        <textarea  name="glandulasSalibales" rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>
        </fieldset>

        <h1>Relaciones de oclusión</h1>
        <fieldset>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>RELACIONES DE OCLUSION:</label>
                        </div>
                        <textarea name="relacionOclusion"   rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>RELACIONES MOLAR:</label>
                        </div>
                        <textarea  name="relacionMolar" rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>RELACIONES CANINO:</label>
                        </div>
                        <textarea name="relacionCanino"  rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>RESALTE:</label>
                        </div>
                        <textarea   name="resalte"  rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>SOBREPASE:</label>
                        </div>
                        <textarea  name="sobrepase" rows="3" cols="5" type="text" class="form-control required"
                        ></textarea>
                    </div>
                </div>
            </div>



        </fieldset>
        <h1>Evoluciones registradas</h1>
        <fieldset>
            <h2>Evoluciones registradas</h2>
            <div class="panel  panel-primary"></div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <label>OBSERVACIONES:</label>
                        </div>
                        <textarea  name="observaciones" rows="3" cols="5" type="text" class="form-control required"
                        > </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if evolutions %}
                    <h4>Evoluciones anteriores:</h4>
                {% endif %}
                    {% for ev in evolutions %}

                <div class="col-lg-10">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Fecha de la consulta: {{ ev.consulta.getDataDate() }} </h5>

                        </div>
                        <div class="ibox-content">
                         <textarea readonly="readonly"  rows="3" cols="5" type="text" class="form-control" >
                           {{ ev.observaciones }}


                         </textarea>

                        </div>
                    </div>
                </div>

                {% endfor %}


            </div>


        </fieldset>
        {% include  'AppBundle:Default:areas.html.twig' %}

    </form>
    {{ parent() }}
    <script>
        next=false;
    </script>
    <!-- Mainly scripts -->
    <script src="{{ asset('bundles/app/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>

    <script src="{{ asset('bundles/app/js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/chosen/chosen.jquery.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/steps/jquery.steps.js') }}"></script>

      <script src="{{ asset('bundles/app/js/plugins/toogle/bootstrap-toggle.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/iCheck/icheck.min.js') }}"></script>
    {% include 'AppBundle:Default:steps.js.twig' %}
    <script src="{{ asset('bundles/app/js/plugins/map/map.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/map/controller.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/map/controller_map.js') }}"></script>


    <script src="{{asset('bundles/app/js/plugins/validation/jquery.validationEngine.js')}}"></script>


    <script src="{{ asset('bundles/app/js/plugins/validation/jquery.validate.min.js') }}"></script>

    <script src="{{ asset('bundles/app/js/plugins/validation/additionalValidator.js') }}"></script>
    <script src="{{ asset('bundles/app/js/custom/validationResultQuery.js') }}"></script>

{% endblock %}